
body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes slideDownAnimation {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: auto;
     }

}

/*
 CSS for the main interaction
*/
.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
    animation: fadeInAnimation ease 0.5s;
    }
  
  .accordion label {
    display: block;
  }
  
  /*
   Styling
  */
  body {
    // font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #e8e8e8;
    font-weight: 300;
  }
  
  .accordion {
    margin-bottom: 1em;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-top: 0;
  }
  
  .accordion .handle {
    margin: 0;
    font-size: 2rem;
    line-height: 1.2em;
    text-align:left;
  }
  
  .accordion label {
    color: #e8e8e8;
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
    background: #333;
  }
  
  .accordion label:hover,
  .accordion label:focus {
    background: #575757;
  }
  
  .accordion .handle label:before {
    font-family: 'fontawesome';
    content: "\f054";
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "\f078";
  }
  
  
  /*
   Live site styling
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    padding: 40px;
  }
  
  a {
    color: #06c;
  }
  
  p {
    margin: 0 0 1em;
    font-size: max(12pt, 2.5vmin);
  }
  
  h1 {
    margin: 0 0 1.5em;
    font-weight: 600;
    font-size: 1.5em;
  }
  
  .accordion {
    max-width: 100%;
  }
  
  .accordion p:last-child {
    margin-bottom: 0;
  }

  .image {
    max-width: 75%;
  }