/* Fonts for the website */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body {
    background-color: black;
    color:white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin:0;
}

.headContainer {
    max-width: 50vw;
    margin: auto;
}

h1 {
    margin: 3rem 0 2rem 0;
    font-size: 8rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,.50);
    
}

h2 {
    font-size: 4rem;
    font-weight: lighter;
    display:block;
    color:white;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration-color: white;
    font-weight: bold;
}

 /* Section for Navigation*/
.navbar {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    font-weight: 500;
    font-size: 3rem;
    padding: 0 0.7rem 0.7rem 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
    background-color: black;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 52px;
    width: 64px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 52px;
    width: 64px;
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 8px;
    width: 100%;
    border-radius: 20px;
    background: white;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 10rem;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    /* width: 99.8%; */
    width: 100vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    /* margin-left: -40px; */
    /* padding-left: 50px; */
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: black;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
    float:left;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}

.nav-container input[type="checkbox"]:checked h2{
    display: none;
}

li a {
    color:white;
}

#nav-home {
    display:block;
    height:0;
    margin:0;
    padding:0;
}

#nav-home::before {
    font-family: 'fontawesome';
    content:"\f015";
    font-style: normal;
    position:absolute;
    font-size: 64px;
    top: 25px;
    right: 20px;
    display: flex;
    flex-direction: row-reverse;
    color:white;
}